.body__detail {
  display: grid;
  place-items: center;
  height: 100dvh;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 4px solid rgba(246, 241, 241, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
